In [1]:
import pandas as pd
df=pd.read_csv("C:\\Users\\sreer\\Desktop\\MLJOURNEY\\pandas_works\\world_famous_places\\world_famous_places_2024.csv")
df.head(3)

,Place_Name,Country,City,Annual_Visitors_Millions,Type,UNESCO_World_Heritage,Year_Built,Entry_Fee_USD,Best_Visit_Month,Region,Tourism_Revenue_Million_USD,Average_Visit_Duration_Hours,Famous_For
0,Eiffel Tower,France,Paris,7.0,Monument/Tower,No,1889,35,May-June/Sept-Oct,Western Europe,95,2.5,"Iconic iron lattice tower, symbol of Paris"
1,Times Square,United States,New York City,50.0,Urban Landmark,No,1904,0,Apr-June/Sept-Nov,North America,70,1.5,"Bright lights, Broadway shows, New Year's Eve ..."
2,Louvre Museum,France,Paris,8.7,Museum,Yes,1793,22,Oct-March,Western Europe,120,4.0,"World's most visited museum, home to Mona Lisa"

In [2]:
#which attraction has the highest annual visitors?
df.loc[df["Annual_Visitors_Millions"].idxmax(), ["Place_Name", "Annual_Visitors_Millions"]]

Place_Name                  Times Square
Annual_Visitors_Millions            50.0
Name: 1, dtype: object

In [3]:
#list all attractions in France
df[df["Country"] == "France"][["Place_Name", "City"]]

              Place_Name        City
0           Eiffel Tower       Paris
2          Louvre Museum       Paris
11  Notre-Dame Cathedral       Paris
23  Palace of Versailles  Versailles

In [4]:
#how many UNESCO World Heritage sites are there?
df["UNESCO_World_Heritage"].value_counts()

UNESCO_World_Heritage
Yes    17
No     13
Name: count, dtype: int64

In [5]:
#average annual visitors by region
df.groupby("Region")["Annual_Visitors_Millions"].mean().sort_values(ascending=False)

Region
North America      20.5100
East Asia           9.5000
Western Europe      9.1000
Oceania             8.2000
South Asia          7.5000
Middle East         6.0000
Southern Europe     5.3375
North Africa        2.8000
Southeast Asia      2.6000
South America       1.8500
Name: Annual_Visitors_Millions, dtype: float64

In [6]:
#top 5 attractions by tourism revenue
df.sort_values("Tourism_Revenue_Million_USD", ascending=False).head(5)

,Place_Name,Country,City,Annual_Visitors_Millions,Type,UNESCO_World_Heritage,Year_Built,Entry_Fee_USD,Best_Visit_Month,Region,Tourism_Revenue_Million_USD,Average_Visit_Duration_Hours,Famous_For
13,Las Vegas Strip,United States,Las Vegas,41.7,Entertainment District,No,1905,0,March-May/Sept-Nov,North America,6800,8.0,"Casino resorts, entertainment, nightlife"
19,Magic Kingdom (Orlando),United States,Orlando,17.0,Theme Park,No,1971,109,Jan-May/Sept-Dec,North America,4500,10.0,Disney World's flagship park with Cinderella C...
18,Disneyland (California),United States,Anaheim,16.0,Theme Park,No,1955,104,Apr-May/Sept-Nov,North America,3200,8.0,Original Disney theme park
20,Grand Canyon,United States,Arizona,6.0,Natural Wonder,Yes,Natural Formation,35,March-May/Sept-Nov,North America,780,5.0,Massive canyon carved by Colorado River
25,Burj Khalifa,United Arab Emirates,Dubai,6.0,Skyscraper,No,2010,45,Nov-March,Middle East,350,2.0,Tallest building in the world

In [7]:
#attractions with free entry
df[df["Entry_Fee_USD"] == 0][["Place_Name", "Country", "Annual_Visitors_Millions"]]

              Place_Name         Country  Annual_Visitors_Millions
1           Times Square   United States                      50.0
11  Notre-Dame Cathedral          France                      13.0
12          Central Park   United States                      42.0
13       Las Vegas Strip   United States                      41.7
15    Golden Gate Bridge   United States                      15.0
16      Lincoln Memorial   United States                       8.5
26               Big Ben  United Kingdom                       5.5
27          Tower Bridge  United Kingdom                       6.8
28     Buckingham Palace  United Kingdom                      15.0

In [8]:
#city with the most attractions
df["City"].value_counts().head(1)

City
New York City    4
Name: count, dtype: int64

In [9]:
#average visit duration by attraction type
df.groupby("Type")["Average_Visit_Duration_Hours"].mean().sort_values(ascending=False)

Type
Theme Park                9.000000
Entertainment District    8.000000
Temple Complex            6.000000
Archaeological Site       5.500000
Natural Wonder            5.000000
Museum                    4.000000
Historic Palace           3.500000
Historic Monument         3.166667
Park                      3.000000
Monument/Tower            2.500000
Monument/Mausoleum        2.000000
Monument/Statue           1.750000
Skyscraper                1.750000
Urban Landmark            1.500000
Historic Tower            1.500000
Cultural Building         1.500000
Cathedral                 1.500000
Monument/Memorial         1.000000
Bridge                    1.000000
Palace                    1.000000
Clock Tower               0.500000
Name: Average_Visit_Duration_Hours, dtype: float64

In [10]:
#UNESCO vs Non-UNESCO: average visitors
df.groupby("UNESCO_World_Heritage")["Annual_Visitors_Millions"].mean()

UNESCO_World_Heritage
No     17.830769
Yes     6.361765
Name: Annual_Visitors_Millions, dtype: float64

In [11]:
#High visitors (>10M) but low visit duration (<2 hours)
df[
    (df["Annual_Visitors_Millions"] > 10) &
    (df["Average_Visit_Duration_Hours"] < 2)
][["Place_Name", "Annual_Visitors_Millions", "Average_Visit_Duration_Hours"]]

,Place_Name,Annual_Visitors_Millions,Average_Visit_Duration_Hours
1,Times Square,50.0,1.5
11,Notre-Dame Cathedral,13.0,1.0
15,Golden Gate Bridge,15.0,1.0
28,Buckingham Palace,15.0,1.0