In [1]:
print("hello")

hello

In [2]:
print("sreelakshmi")

sreelakshmi

In [4]:
import pandas as pd
df=pd.read_csv("C:\\Users\\sreer\\Desktop\\MLJOURNEY\\pandas_works\\social_media _case_study\\social_media_viral_content_dataset.csv")
df.head(3)

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral
0,SM_100000,Instagram,text,Sports,ur,UK,2024-12-10 00:00:00,#tech #funny #music,2319102,122058,15800,861,0.0598,0.464,1
1,SM_100001,Instagram,carousel,Sports,ur,Brazil,2024-10-13 00:00:00,#news #fyp #funny #ai #trending,2538464,110368,11289,54887,0.0695,-0.800,1
2,SM_100002,YouTube Shorts,video,Technology,ur,UK,2024-05-03 00:00:00,#ai #news,1051176,87598,47196,44132,0.1702,0.416,0

In [13]:
df.columns

Index(['post_id', 'platform', 'content_type', 'topic', 'language', 'region',
       'post_datetime', 'hashtags', 'views', 'likes', 'comments', 'shares',
       'engagement_rate', 'sentiment_score', 'is_viral'],
      dtype='object')

In [14]:
df.shape[0]

2000

In [15]:
df.shape[1]

15

In [18]:
df["platform"].unique()

array(['Instagram', 'YouTube Shorts', 'X', 'TikTok'], dtype=object)

In [19]:
#platformwise post count
df["platform"].value_counts()

platform
Instagram         539
YouTube Shorts    499
X                 485
TikTok            477
Name: count, dtype: int64

In [20]:
#unique content type
df["content_type"].unique()

array(['text', 'carousel', 'video', 'image'], dtype=object)

In [21]:
#content type wise count
df["content_type"].value_counts()

content_type
carousel    528
image       512
text        488
video       472
Name: count, dtype: int64

In [5]:
#filter post with more than 1m(1_000_000)views
df[df["views"]>1000000]

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral
0,SM_100000,Instagram,text,Sports,ur,UK,2024-12-10 00:00:00,#tech #funny #music,2319102,122058,15800,861,0.0598,0.464,1
1,SM_100001,Instagram,carousel,Sports,ur,Brazil,2024-10-13 00:00:00,#news #fyp #funny #ai #trending,2538464,110368,11289,54887,0.0695,-0.800,1
2,SM_100002,YouTube Shorts,video,Technology,ur,UK,2024-05-03 00:00:00,#ai #news,1051176,87598,47196,44132,0.1702,0.416,0
3,SM_100003,X,text,Politics,ur,US,2024-08-04 00:00:00,#ai #funny,5271440,329465,774,59736,0.0740,0.877,1
4,SM_100004,YouTube Shorts,text,Education,es,US,2024-03-28 00:00:00,#news #ai #viral #funny #fyp,3186256,199141,5316,83105,0.0903,0.223,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,SM_101995,YouTube Shorts,text,Sports,es,US,2024-02-11 00:00:00,#funny #music #ai,14112183,486627,9430,91550,0.0416,-0.541,1
1996,SM_101996,Instagram,text,Politics,en,Brazil,2024-02-12 00:00:00,#viral #trending,5604744,467062,2764,16092,0.0867,0.287,1
1997,SM_101997,X,carousel,Education,ur,UK,2024-05-01 00:00:00,#trending #fyp,2031920,253990,40963,95697,0.1923,0.604,1
1998,SM_101998,X,carousel,Sports,ur,UK,2024-12-23 00:00:00,#funny #trending #tech,5237350,209494,15042,67422,0.0557,-0.861,1
1999,SM_101999,X,carousel,Politics,ur,Pakistan,2024-11-04 00:00:00,#viral #funny,3369429,481347,13455,9492,0.1497,0.297,1

In [6]:
#average engagement rate by platform
df.groupby("platform")["engagement_rate"].mean()

platform
Instagram         0.148153
TikTok            0.143777
X                 0.201031
YouTube Shorts    0.139816
Name: engagement_rate, dtype: float64

In [8]:
#top3 post with most likes
df.sort_values(by="likes",ascending=False).head(3)

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral
283,SM_100283,Instagram,video,Lifestyle,ur,UK,2024-09-10 00:00:00,#viral #music #ai #trending,4999830,499983,9655,85470,0.1190,0.180,1
419,SM_100419,X,carousel,Politics,en,Pakistan,2024-11-28 00:00:00,#tech #viral #trending,2498765,499753,49731,5705,0.2222,-0.186,1
860,SM_100860,Instagram,text,Lifestyle,ur,India,2024-03-05 00:00:00,#fyp #funny #ai #viral,12493300,499732,38060,10579,0.0439,0.010,1

In [9]:
#total views by region
df.groupby("region")["views"].sum()

region
Brazil      1751589049
India       1759902460
Pakistan    1618919802
UK          1665703156
US          1773604676
Name: views, dtype: int64

In [11]:
#which content type has highest engagement rate
df.groupby("content_type")["engagement_rate"].sum().idxmax()

'text'

In [12]:
#count of viral posts
df["is_viral"].value_counts()

is_viral
1    1398
0     602
Name: count, dtype: int64

In [15]:
#find average sentiment score of viralpost
df[df["is_viral"]==1]["sentiment_score"].mean()

np.float64(0.004452074391988556)

In [21]:
#total interaction
df["total_interaction"]=df["likes"]+df["shares"]+df["comments"]
df.head(3)

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral,total_interaction,month
0,SM_100000,Instagram,text,Sports,ur,UK,2024-12-10,#tech #funny #music,2319102,122058,15800,861,0.0598,0.464,1,138719,12
1,SM_100001,Instagram,carousel,Sports,ur,Brazil,2024-10-13,#news #fyp #funny #ai #trending,2538464,110368,11289,54887,0.0695,-0.800,1,176544,10
2,SM_100002,YouTube Shorts,video,Technology,ur,UK,2024-05-03,#ai #news,1051176,87598,47196,44132,0.1702,0.416,0,178926,5

In [ ]:
#adding new coloumn
df["post_datetime"]=pd.to_datetime(df["post_datetime"])
df["month"]=df["post_datetime"].dt.month
df.head(3)

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral,total_interaction,month
0,SM_100000,Instagram,text,Sports,ur,UK,2024-12-10,#tech #funny #music,2319102,122058,15800,861,0.0598,0.464,1,2456960,12
1,SM_100001,Instagram,carousel,Sports,ur,Brazil,2024-10-13,#news #fyp #funny #ai #trending,2538464,110368,11289,54887,0.0695,-0.800,1,2660121,10
2,SM_100002,YouTube Shorts,video,Technology,ur,UK,2024-05-03,#ai #news,1051176,87598,47196,44132,0.1702,0.416,0,1185970,5

In [20]:
#number of post in each month
df["month"].value_counts()

month
4     189
7     185
2     181
11    175
3     171
9     168
6     162
12    160
1     157
10    153
5     151
8     148
Name: count, dtype: int64

In [22]:
#which factor makes a post viral
df.groupby("is_viral")[["likes","comments","shares","engagement_rate"]].mean()

                  likes      comments        shares  engagement_rate
is_viral
0          95912.504983  25182.388704  50115.519934         0.339711
1         309670.357654  24616.638054  49860.100143         0.079540

In [ ]:
#which region produces more viral post
df.groupby("region")["is_viral"].sum().idxmax()
#df[df["is_viral"]==1]["region"].value_counts().head(1)

'US'